body, div, ul, li, a, input, button, #wrapper, p, h2, video {
	margin: 0px;
	padding: 0px;
}

body {
	height: 900px;
	
	background-image:  url("images/back.jpeg");
 
}
#wrapper {
	
	width: 1200px;
    margin: 21px;
    padding: 50px;
    background: rgba(233,225,225, 0.2);
	border-radius: 15px;

}
#bullsandcows{
	padding: 30px;
}
li {
	text-align: center;
	width: 25%;
	color:#F8F0F0;
	padding: 5px;
	padding-left: 0px;
	margin: 5px;
	margin-left: 0px;
	border-color: #F41348; 
	font-family: serif;
	font-weight: bold;
	font-size: 15px;
	list-style-type: none;
	background: rgba(233,225,225, 0.2);
	border-radius: 3px;
}
p, h2 {
	text-align: center;
	font-family: serif;
	font-weight: bold;
	
}
a {
	text-decoration: none;
	color: red;
}
#numberValue, #clickOnMe {
	width: 12.5%;
	font-size: 15px;
}
video {
	padding: 4px;
}